.block-footer-navigation{
  border-bottom: 1px solid $main-color;
  border-top: 1px solid $main-color;
}
.footer-navigation{
  ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: $font-3;
    font-size: 20px;
    line-height: 40px;
    a{
      display: inline-block;
      transition: all .5s;
      &:hover{
        color: rgba(26, 10, 20, 0.62);
        transform: translate(0,-2px);
      }
    }
  }
}
.contacts{
  list-style: none;
  font-family: $font-1;
  font-size: 20px;
  line-height: 40px;
  color: $main-color;
  padding: 0;
  margin: 50px 0;
  transition: all .5s;
  a{
    &:hover{
      color: #00abb0;
    }
  }
}
.footer-block-icon{
  margin-bottom: 70px;
  a{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 5px solid $main-color;
    border-radius: 50%;
    transition: box-shadow 0.5s;
    &:hover{
      box-shadow: 0 0 10px 2px #009a9f;
    }
  }
}
.facebook-i,.youtube-i,.g-i{
  position: relative;
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    transform: translate(-50%,0);
  }
}
.facebook-i{
  &:after{
    width: 23px;
    height: 44px;
    left: 50%;
    top: 10px;
    background-image: url(../img/icon/icon-facebook.png);
    background-repeat: no-repeat;
  }
}
.youtube-i{
  &:after{
    width: 35px;
    height: 38px;
    left: 50%;
    top: 10px;
    background-image: url(../img/icon/icon-youtube.png);
    background-repeat: no-repeat;
  }
}
.g-i{
  &:after{
    width: 35px;
    height: 40px;
    left: 50%;
    top: 10px;
    background-image: url(../img/icon/icon-g.png);
    background-repeat: no-repeat;
  }
}
.footer-copyright{
  border-top: 1px solid $main-color;
  font-family: $font-3;
  font-size: 20px;
  line-height: 40px;
}
.copyright-author{
  text-align: right;
}