
@media (max-width: 576px) {
  .main-menu{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
}


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (max-width: 1200px) {
  .moon{
    display: none;
  }
}

