
@media (max-width: 576px) {
  .main-menu{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
}


@media (max-width: 768px) {
  .statistics-item{
    padding-top: 100px;
  }
  .section-statistics_text{
    margin-bottom: 0;
  }
  .statistics:after{
    content: '';
    display: none;
  }
  .statistics-block-circle:before{
    display: none;
  }
  }


@media (min-width: 992px) {  }


@media (max-width: 1200px) {
  .moon{
    display: none;
  }
}

